<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @{


        string theme = "";
        if (Request.Cookies["Theme"] != null)
        {
            theme = Request.Cookies["Theme"].Value.ToString();
        }

        if (theme == "1")
        {
            <link rel="stylesheet" href="~/Content/bootstrap-superhero.css" />
        }
        else if (theme == "0")
        {
            <link rel="stylesheet" href="~/Content/bootstrap-lumen.css" />
        }
        else if (theme == "2")
        {
            <link rel="stylesheet" href="~/Content/bootstrap-flatty.css" />
        }

        else
        {
            <link rel="stylesheet" href="~/Content/bootstrap.css" />
        }

    }
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sklep", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(sklepik.Resource.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(sklepik.Resource.Cart, "Index", "ShoppingCart")</li>
                    <li>@Html.ActionLink(sklepik.Resource.Settings, "Index", "Settings")</li>

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    @if (this.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink(sklepik.Resource.Role, "Index", "Role")</li>
                        <li>@Html.ActionLink(sklepik.Resource.Product, "Index", "Product")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Shop app </p>
            <p style="float:right">Number of users:@ApplicationInstance.Application["Totaluser"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
