@using sklepik.Models
@{
    ViewBag.Title = "Index";
}
@using sklepik.Services
@{var kurs = CurrencyService.wylicz(Context.Request.Cookies["Currency"].Value); }
<table class="table">
    <tr>
        <th>@sklepik.Resource.Name</th>
        <th>@sklepik.Resource.Price</th>
        <th>@sklepik.Resource.Quantity</th>
        <th>@sklepik.Resource.SubTotal</th>
    </tr>
    @if (Session["Cart"] != null)
    {
        foreach (var cart in (List<Item>)Session["Cart"])
        {
            <tr>
                <td>@cart.Product.Name</td>
                <td>@String.Format("{0:0.00}", cart.Product.Price * (cart.Product.Vat + 100) / 100 / kurs) @Context.Request.Cookies["Currency"].Value</td>
                <td>@cart.Quantity</td>
                <td>
                    @if (Request.Cookies["Vat"].Value == "1")
                    {
                        @String.Format("{0:0.00}{1}", cart.Product.Price * cart.Quantity / kurs, Context.Request.Cookies["Currency"].Value);
                    }
                    else
                    {
                        @(String.Format("{0:0.00}{1}", cart.Product.Price * cart.Quantity * (cart.Product.Vat + 100) / 100 / kurs, @Context.Request.Cookies["Currency"].Value))

                    }
                </td>

                <td>
                    @Html.ActionLink(@sklepik.Resource.Delete, "Delete", "ShoppingCart", new { id = cart.Product.Id },
                        new { onclick = "return confirm('Are you sure?');" })
                </td>

            </tr>
        }

        List<Item> tmp = (List<Item>)Session["Cart"];



        var vat = String.Format("{0}", tmp.Sum(x => x.Quantity * x.Product.Price * (x.Product.Vat) / 100));


        var total = String.Format("{0}", tmp.Sum(x => x.Quantity * x.Product.Price));



        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>@sklepik.Resource.Total: @total + Vat: @vat</td>
            <td></td>
        </tr>
    }
</table>
@if (Session["Cart"] == null)
{
    <p>No Items in cart</p>
}

<h2>@Html.ActionLink("trashbin", "Trash", "ShoppingCart")</h2>


<h2>Payment method</h2>
<select id="Payment" name="Payment">

    <option value="transfer">@sklepik.Resource.transfer</option>

    <option value="cash">@sklepik.Resource.cash</option>

</select>
<h2>Shipping method</h2>
<select id="Payment" name="Payment">

    <option value="kurier">@sklepik.Resource.courier</option>

    <option value="paczka">@sklepik.Resource.parcel</option>

</select>

<br />
<button class="alert-success">@sklepik.Resource.Finnish </button>




