@model sklepik.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @if (Request.Cookies["Vat"].Value == "1")
            {
                @Html.DisplayFor(modelItem => Model.Price);
            }
            else
            {
                @(String.Format("{0}", Model.Price * (Model.Vat + 100) / 100))

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)%
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>

        </dd>
        @if (Model.Image != null)
        {


            var base64 = Convert.ToBase64String(Model.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


            <img src="@imgSrc" />
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
