@model sklepik.Models.Product

@{
    ViewBag.Title = "Details";
}
@using sklepik.Services
@{var kurs = CurrencyService.wylicz(Context.Request.Cookies["Currency"].Value); }
<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @sklepik.Resource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @sklepik.Resource.Price
        </dt>

        <dd>
            @if (Request.Cookies["Vat"].Value == "1")
            {
                @Html.DisplayFor(modelItem => Model.Price);
            }
            else
            {
                @(String.Format("{0}{1}", Model.Price*kurs * (Model.Vat + 100) / 100, Context.Request.Cookies["Currency"].Value))

            }
        </dd>

        <dt>
            @sklepik.Resource.Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)%
        </dd>
        <dt>
            @sklepik.Resource.Image
        </dt>
        <dd>

        </dd>
        @if (Model.Image != null)
        {


            var base64 = Convert.ToBase64String(Model.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


            <img src="@imgSrc" />
        }

    </dl>
</div>
<p>
    @Html.ActionLink(sklepik.Resource.BackToList, "Index")
</p>
